# Terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Variables files
*.tfvars
*.tfvars.json

# Private keys
*.pem
id_rsa_terraform
.terraform.lock.hcl

# Ansible
*.retry
inventory/aws_ec2.yml (if it contains secrets)

# OS
.DS_Store
